# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS (generated)
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# iOS build artifacts
**/.build/
*.snapshot
