name: camera_extended_platform_interface
description: Platform interface for camera_extended plugin with native aspect ratio support (16:9, 4:3, 1:1).
repository: https://github.com/erykkruk/camera_extensions
issue_tracker: https://github.com/erykkruk/camera_extensions/issues
version: 2.12.1

environment:
  sdk: ^3.8.0
  flutter: ">=3.32.0"

dependencies:
  cross_file: ^0.3.1
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.7
  stream_transform: ^2.0.0

dev_dependencies:
  async: ^2.5.0
  flutter_test:
    sdk: flutter
  leak_tracker_flutter_testing: any

topics:
  - camera
